
*{
 margin: 0px;
 padding: 0px;
}

body{
	background-image:url(bnh.jpg);
	min-height: 100%;
	background-size: cover;
}

header{
		width: 1175px;
		height: 350px;
		margin: 5px;
		padding: 5px;
		border: medium double black;
		background-color:rgba(30, 6, 243, 0.466);
		white-space: pre-line;
}

.centrado{
	margin:5px auto;
	display:block;
	height: 300px;
	width: 1000px;
}

table {
	padding: 5px 15px;
	style="z-index:1;
	filter:alpha(opacity=60);
	float:left;
	-moz-opacity:.60;
	opacity:.60"
}
nav li {
	padding: 15px;
	display: inline;
}	



<img src="imagenes/MHA.png" height="300px" width="1000px" >